<div class="col-md-8 col-md-offset-2">
    <div class="jumbotron">
        <h1>你好大千世界</h1>
        <p>这是我的世界</p>
        <p><a class="btn btn-primary btn-lg" href="/posts" role="button">进入新世界</a></p>
    </div>
</div>
